$main-color: #d11149ff;
$background-color: #f9f9f9;
$shadow-color: rgba(68, 68, 68, 0.15);
$black: #2e2f2f;

.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 70px;
    margin-bottom: 30px;
    user-select: none;
  }

  .new {
    border: 4px solid $main-color;
    height: 100px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin-bottom: 50px;
    text-decoration: none;
    user-select: none;
    transition: 400ms;

    h3 {
      font-size: 50px;
      transition: 400ms;
    }

    h4 {
      font-size: 100px;
      transition: 400ms;
    }

    &:hover{
      background-color: $main-color;
     
      h3, h4{
        color: $background-color;
      }
    }
  }

  .searchBar {
    width: 27%;
    border: solid 3px $main-color;
    border-radius: 30px;
    background: $background-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    justify-content: space-around;
    padding-right: 5px;
    max-width: 310px;
    margin-bottom: 20px;

    input {
      border-radius: 30px;
      background: $background-color;
      width: 80%;
      padding-right: 15px;
      padding-left: 12px;
      font-size: 18px;
      border: 0;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #a39999;
      }
    }

    .searchIcon {
      width: 25px;
      margin-right: 5px;
      cursor: pointer;
      user-select: none;
    }
  }

  .content {
    width: 90%;
    margin-bottom: 50px;

    table {
      width: 100%;

      .tableRow {
        background-color: #ffeaf0;
      }

      tr {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 7%;
        padding-right: 3%;
        padding-top: 8px;
        padding-bottom: 8px;

        .thTitle {
          width: 140%;
          font-size: 20px;
          max-width: 344px;
        }

        .tableTitle {
          width: 140%;
          font-size: 20px;
          max-height: 24px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          max-width: 344px;
        }

        .tableDate {
          width: 80%;
          text-align: center;
          font-size: 20px;
        }

        .tableActions {
          width: 80%;
          text-align: center;
          font-size: 20px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .edit {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 75px;
      height: 35px;
      text-decoration: none;
      background: #96b3ff;
      font-size: 16px;
      padding-left: 2%;
      padding-right: 2%;
      transition: 200ms;
      user-select: none;
      margin-right: 30px;
      h3 {
        color: black;
      }

      img {
        width: 20px;
      }

      &:hover {
        background: #5787ff;
      }
    }

    .delete {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 100px;
      height: 35px;
      background: $main-color;
      font-size: 16px;
      padding-left: 2%;
      padding-right: 2%;
      cursor: pointer;
      transition: 200ms;
      user-select: none;
      h3 {
        color: $background-color;
      }

      img {
        width: 20px;
      }

      &:hover {
        background: #b11149ff;
      }
    }
  }

  .pagination {
    width: 25%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    
    margin-bottom: 50px;

    li {
      cursor: pointer;
      font-size: 20px;

      img {
        transition: 200ms;
      }

      a {
        display: flex;
        align-items: center;
        color: black !important;
      }

      .active {
        color: $main-color !important;
      }

      &:hover {
        color: $main-color;

        img {
          transform: scale(1.1);
        }
      }
    }
  }
}
