@font-face {
  font-family: "Century";
  src: url("/fonts/CenturyGothic.ttf");
}

@font-face {
  font-family: "CenturyBold";
  src: url("/fonts/CenturyGothicBold.ttf");
}

@font-face{
  font-family:"OpenSans";
  src: url("/fonts/OpenSans-Regular.ttf");
}

$main-color: #d11149ff;
$background-color: #f9f9f9;
$shadow-color: rgba(68, 68, 68, 0.15);
$black:#1e3333;

@function random-hex(){
  $rgb: '';
  $i: 6;
  @while $i > 0 {
    $hex-unit: random(16) - 1;
    $letters: A, B, C, D, E, F;
    @if $hex-unit > 9 { 
      $hex-unit: nth($letters, ($hex-unit - 9));
    };
    $rgb: str-insert($rgb, ("" + $hex-unit), 0);
    $i: $i - 1;
  }
  @return unquote("#"+"#{$rgb}");
}
@mixin test(){
  
  border: solid 5px random-hex();
 
}
* {
  margin: 0;
  padding: 0;
  font-family: "Century";
  color:$main-color;
  ::selection{

    background: #FFDFE8
    
  }
  ::-moz-selection{
    background: #FFDFE8
  }
}

.imageInicio{
  width: 80%;
  margin: 10%;
  margin-top: 6%;
  margin-bottom: 0;
}